<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="resources.Listeners"/>
<listener class-name="resources.ExtentReporterNG"/>


</listeners>


  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="EicherMobileAutomation.EicherMobileAppAutomation.OwnerLogin"/> -->
     <class name="EicherMobileAutomation.EicherMobileAppAutomation.OwnerLogin"/>
      <class name="EicherMobileAutomation.EicherMobileAppAutomation.ManagerLogin"/>
      <class name="EicherMobileAutomation.EicherMobileAppAutomation.DriverLogin"/>
      <class name="EicherMobileAutomation.EicherMobileAppAutomation.MechanicLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
